## Ignore build results and temporary files.

Backup*
_UpgradeReport_Files

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.mdb
*.pdb
*.pidb
*.suo
*.user
*.userprefs
UpgradeLog*.*
